
*.pyc
bootstrap/css/bootstrap-theme.css
bootstrap/css/bootstrap-theme.css
ref/add.py
ref/divide.py
ref/mainaddfunc.py
ref/maintestadd.py
ref/templates/button.html
ref/templates/index.html
ref/templates/index1.html
test.ipynb
data/sgns.sogou.bigram
data/poet.pkl
